@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

/* Custom styles from the original file */
.hero-font {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #fff; }
::-webkit-scrollbar-thumb { background: #ddd; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #bbb; }

.apple-download, .android-download {
    width: 150px;
    height: 50px;
}
